body {
  background-color: #363c4a;
  color: white;
  font-family: 'Courier New'
}

.header {
  margin: auto;
  text-align: center;
  max-width: 600px;
}

.header #title {
  font-size: 80px;
  font-weight: 800;
}

.game {
  display: none;
}

.board {
  max-width: 600px;
  margin: 0 auto;
}

.board .block {
  float: left;
  position: relative;
  border-radius: 20%;
}

.board .block .icon {
  position: absolute;
  padding: 10%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.start {
  background-color: #363c4a;
  opacity: 0.7;
  position: absolute;
  font-size: 3em;
  border-radius: 25px;
  padding: 1.5em 3em;
  left: 50%;
  top: 50%;
  transform: translate(-72%, -75%);
  z-index: 1;
}

.stats,
.settings {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.settings .form-control{
  margin: 0px 40px 0px 40px;
}

.slider {
  appearance: none;
  width: 100%;
  height: 3em;
  background: #d3d3d3;
  outline: none;
  transition: opacity .2s;
  cursor: pointer;
}

.btn {
  margin: 2em;
}

.stats span,
.stats label {
  margin: 0px 24px 0px 24px;
  font-weight: 800px;
}
